<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/SIK-Client-User/src/sik/client/user/ActionClips.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sik.client.user.ActionClips"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SIK-Client-User"/>
</launchConfiguration>
